<p>foo</p>
<h2>question works - {{question()!.title}}</h2>
<mat-divider></mat-divider>
<div class="answer-container">
    <ng-container *ngFor="let answer of this.question().answers">
        <div class="item">
            <button mat-raised-button (click)="select(answer)">{{answer.title}}</button>
            <!-- <mat-card>
                <mat-card-content>{{answer.title}}</mat-card-content>
                <mat-card-actions><a href="#"></a></mat-card-actions>
            </mat-card> -->
        </div>
    </ng-container>
</div>

<ng-container *ngIf="innerQuestion; else defaultTmpl">
    <question [question]="innerQuestion!"></question>
</ng-container>
<ng-template #defaultTmpl>...</ng-template>


