  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-row">
      <span><a href="/">Hem</a></span>
      <span class="spacer"></span>
      <span>{{flow().name}}</span>
  </mat-toolbar-row>
  </mat-toolbar>

  <ng-container *ngIf="!finished(); else showResults">
    <div class="question-container">
      <questions [questions]="(flow())" (isFinished)="onFinished()"></questions>
    </div>
  </ng-container>
  <ng-template #showResults>
    <results></results>
  </ng-template>

<reaction-wrapper></reaction-wrapper>