<p>bar</p>

<div class="answer-container">
  <ng-container *ngIf="subQuestions == null">
    <h1>{{currentQuestion().title}}</h1>
    <ng-container *ngFor="let answer of currentQuestion().answers">
      <div class="example-button-container">
        <button mat-fab extended (click)="select(answer)">
          <mat-icon>favorite</mat-icon>
          {{answer.title}}
        </button>
      </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="subQuestions != null">
  <questions [questions]="subQuestions" (isFinished)="childIsFinishedHandler()"></questions>
</ng-container>
    