<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <span><a href="/">Hem</a></span>
</mat-toolbar-row>
</mat-toolbar>

<div class="flow-container">
  <mat-card *ngFor="let flow of flows$ | async" class="flow-item" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{flow.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{flow.description}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end" class="actions">
      <a mat-button [routerLink]="['/flows/' + flow.id]">Starta</a>
    </mat-card-actions>
  </mat-card>
</div>